<sidebar></sidebar>
<div id="content">
  <div class="rep"></div>
  <div class="main">
    <div class="header">
      <button class="icon-btn"><mat-icon>arrow_back</mat-icon></button>
      <h2>Transaction</h2>
      <form #headerForm="ngForm">
        <h2><input type="text" [(ngModel)]="query" name="query"></h2>
        <button class="icon-btn" type="button" (click)="clearQuery()"><mat-icon>close</mat-icon></button>
      </form>
      <button class="icon-btn"><mat-icon>help_outline</mat-icon></button>
    </div>
    <div class="content-body">
      <h2 class="title">Country of interest</h2>
      <p>Kenya</p>
      <h2 class="title">Edit transactions</h2>
      <p>Edit the transactions below to match the right information.</p>
      <div class="action-area">
        <nav>
          <form class="row row-cols-lg-auto g-3 align-items-center">
              <div class="col-12">
                  <div class="input-group">
                      <select class="form-select shadow-none" id="year">
                          <option value="">Local</option>
                      </select>
                      <div class="separator"></div>
                      <div class="search-input">
                        <input type="text" class="form-control shadow-none" #searchInput (input)="searchTransaction(searchInput.value)" placeholder="Search">
                        <mat-icon>search</mat-icon>
                      </div>
                  </div>
              </div>
          </form>
        </nav>
        <div class="filters">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="filter" data-bs-toggle="dropdown" aria-expanded="false">
              <mat-icon>filter_alt</mat-icon>
              Filter
              <mat-icon>expand_more</mat-icon>
            </button>
            <ul class="dropdown-menu" aria-labelledby="filter">
              <li><a class="dropdown-item">Filter 1</a></li>
              <li><a class="dropdown-item">Filter 2</a></li>
              <li><a class="dropdown-item">Filter ...</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="export" data-bs-toggle="dropdown" aria-expanded="false">
              <mat-icon>insert_drive_file</mat-icon>
              Export as
              <mat-icon>expand_more</mat-icon>
            </button>
            <ul class="dropdown-menu" aria-labelledby="filter">
              <li><a class="dropdown-item">PDF</a></li>
              <li><a class="dropdown-item">Excel</a></li>
            </ul>
          </div>
          <div class="date-range">
            <mat-form-field appearance="fill" [formGroup]="dateGroup">
              <mat-label>Start date - End date</mat-label>
              <mat-date-range-input [rangePicker]="periodPicker">
                  <input matStartDate formControlName="accountStartDate">
                  <input matEndDate formControlName="accountEndDate" (dateChange)="filterDate()">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="periodPicker"></mat-datepicker-toggle>
              <mat-date-range-picker #periodPicker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="table-wrapper" *ngIf="transactions.length > 0">
        <table class="table table-striped cust-table">
          <thead>
            <tr>
              <th scope="col" class="align-middle"><mat-checkbox (change)="selectAll($event)"></mat-checkbox></th>
              <th scope="col">Value Date</th>
              <th scope="col">Transaction ID</th>
              <th scope="col">Movement type</th>
              <th scope="col">Amount</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions" [ngClass]="{'active': transaction.selected}">
              <td class="align-middle"><mat-checkbox (change)="selectRow($event, transaction.id)" [checked]="transaction.selected"></mat-checkbox></td>
              <td class="align-middle">{{transaction.value_date}}</td>
              <td class="align-middle">{{transaction.id}}</td>
              <td class="align-middle">{{transaction.movement_type}}</td>
              <td class="align-middle amount">
                <input [type]="transaction.amountHandle" [value]="transaction.amount" disabled readonly>
                <span class="amount-toggle">
                  <button class="icon-btn" *ngIf="!transaction.amountVisibility" (click)="toggleAmount(transaction.id)"><mat-icon>visibility</mat-icon></button>
                  <button class="icon-btn" *ngIf="transaction.amountVisibility" (click)="toggleAmount(transaction.id)"><mat-icon>visibility_off</mat-icon></button>
                </span>
              </td>
              <td class="align-middle" [ngClass]="{'active': transaction.status == 'Active', 'hold': transaction.status == 'Hold', 'error': transaction.status == 'Error'}">{{transaction.status}}</td>
              <td class="align-middle">
                  <button class="icon-btn edit" (click)="editTransaction(transaction.id)" data-bs-toggle="modal" data-bs-target="#editModal"><mat-icon>edit</mat-icon></button>
                  <button class="icon-btn delete" (click)="deleteTransaction(transaction.id)" data-bs-toggle="modal" data-bs-target="#deleteModal"><mat-icon>delete</mat-icon></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p *ngIf="transactions.length == 0">No transactions to display</p>
      <div class="button-panel">
        <button class="continue-btn">Continue</button>
        <button class="skip-btn">Skip</button>
        <button class="cancel-btn">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- MODALS -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h5>Delete row?</h5>
        <p>This action cannot be undone.<br>Do you want to continue?</p>
        <div class="button-panel">
          <button class="skip-btn" data-bs-dismiss="modal">Cancel</button>
          <button class="delete-btn" data-bs-dismiss="modal" (click)="deleteRow()">Delete row</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h5>Edit row information</h5>
        <form ngNativeValidate #editForm="ngForm" (ngSubmit)="editRow(editForm.value)">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="value_date">Value date</label>
                <input type="date" class="form-control" id="value_date" required [(ngModel)]="activeEdit.value_date" name="value_date" placeholder="dd-mm-yyyy">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="movement_type">Movement type</label>
                <input type="text" class="form-control" id="movement_type" required [(ngModel)]="activeEdit.movement_type" name="movement_type" placeholder="Movement type">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="status">Status</label>
                <input type="text" class="form-control" id="status" required [(ngModel)]="activeEdit.status" name="status" placeholder="Status">
              </div>
            </div>
            <div class="col"></div>
          </div>
          <div class="button-panel">
            <button class="skip-btn" type="button" data-bs-dismiss="modal">Cancel</button>
            <button class="continue-btn" type="submit" data-bs-dismiss="modal">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>