<div id="sidebar">
    <div class="menu">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="">
        </div>
        <div class="menu-items">
            <button class="menu-item active"><mat-icon>home</mat-icon> Dashboard</button>
            <button class="menu-item"><mat-icon>paid</mat-icon> Balance</button>
            <button class="menu-item"><mat-icon>sync_alt</mat-icon> Transactions</button>
            <button class="menu-item"><mat-icon>radio_button_unchecked</mat-icon> Organization</button>
            <button class="menu-item"><mat-icon>group_work</mat-icon> Groups</button>
            <button class="menu-item"><mat-icon>language</mat-icon> Zones</button>
            <button class="menu-item"><mat-icon>settings</mat-icon> Settings</button>
        </div>
    </div>
    <div class="user">
        <div class="profile">
            <mat-icon>account_circle</mat-icon>
        </div>
        <div class="user-details">
            <h5>John Kowalski</h5>
            <span>Administrator</span>
        </div>
    </div>
</div>